/* header top menu  */
.fwES{
    margin-left: 3px;
}
.haderTop{
    background: #f5919a ;
}
.headrTitell{
    color: white;
    margin-top: 4px;
}
.headerTopItem {
    margin-top: 4px;
    margin-left: 298px;
}
.headerTopItem ul li{
    display: inline-block;   
}
.headerTopItem ul li a{
    padding: 0px 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}
/* header top menu end */
/* header menu  */
.bgColor{
    background: #f4858e ;
}
.navbar-nav{
    margin-left: auto;
}
.headerMneu .aTag{
    color: white !important;
    font-size: 18px;
}
/* header menu  end */ 
/* banner section  */
.buto{
    text-decoration: none;
    border-radius: 20px;
    color: white;
    background: #4d99e7;
    padding: 10px 15px;
    border: 2px solid white;
}
.content-banner{
    background: #f4858e; 
    padding: 100px 0;
}
.contentBanner {
    margin-top: 0px;
}
.imgBanner{
    margin-top: 0px;
}
.bannerTittel{
    color: white;
    font-size: 46px;
    
}
.borderStyel{
    border-bottom:2px solid #1e8190 ;
}

.bannerperagrph{
    margin-top: 24px;
    color: white;
    font-size: 23px;
}
.buttomStyel{
    margin-top: 60px;
}
.buttomStyel a:hover{
    color: white;
}
.sizeimg{
    width: 480px;
}
/* banner section  end */
/* website devlopment  */
.website_devlopment{
    background-image: linear-gradient(30deg, #f4858e 40%, #fdc07f 100%);
    width: 100%;
    padding: 80px;
    text-align: center;
}
.pStyel{
    color: white;
    font-size: 20px;
    text-align: left;
}
.tittel_web {
    color: white;
    text-align: left;
}
.tittel_web-ma{
    color: white;
    text-align: left;
    margin-top: 80px;
}
/* website devlopment end  */
/* Marketing Solutions  */
.tittel_webop{
    color: #515151;
    text-align: left;
    margin-top: 10px;
}
.tittel_webop2{
    color: #515151;
    text-align: left;
    margin-top: 50px;
}
.pStyel1{
    color: black;
    font-size: 16px;
    
}
.marketingSolutions{
    margin-top: 80px;
}
.img_s{
    width: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px -10px rgb(0 0 0 / 50%);    
}
/* Marketing Solutions end  */
/* leedjenartion  */
.website_devlopment1{
    background-image: linear-gradient(30deg, #f4858e 40%, #fdc07f 100%);
    width: 100%;
    padding: 80px;
    text-align: center;
    margin-top: 40px;
}
.img_s {
    width: 400px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px -10px rgb(0 0 0 / 50%);
    margin-bottom: 10px;
}
.center_item{
    margin-top: 90px;
}
.tittel_webmt{
    margin-top: 150px;
    color: white;
    text-align: left;
}
/* led end  */
/* souletion  */
.solution{
    background-image: linear-gradient(30deg, #f4858e 40%, #fdc07f 100%);
    width: 100%;
    padding: 4%;
}

.c-s{
    color: white;
    font-size: 40px;
    display: inline-block;
    
}
.souletion_text{
    color: white;
    margin-left: 64px;
    margin-top: -50px;
}
.p-size{
    font-size: 19px;
}
/* seletion mid  */
.souletion_mid{
    background-image: linear-gradient(30deg, #f4858e 40%, #fdc07f 100%);
    width: 100%;
    padding: 2% 0;
    text-align: center;
}
.mid-text{
    color: white;
    text-align: right;
    font-size: 20px;
    
}
.mid{
    text-decoration: none;
    color: white;
    font-size: 18px;
    border: 1px solid #fff;
    padding: 7px 8px;
    border-radius: 15px;
    background-color: #4d99e7;
    margin-top: -2px;
    display: inline-block;
    margin-left: -264px;
}
.mid:hover{
    color: white;
}
/* footer  */

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}  
/* javasqript styel  */

.borderStyel1{
    color: white !important;
    font-size: 18px;
    border-bottom: 2px solid white;
    text-decoration: none;
}

.animation-web-textm{
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: scale(0.1);
}
.anitextm {
    opacity: 1;
    transition: all 1s ease-out;
    transform: scale(1);
}
.animation-web-text1m{
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: scale(0.1);
}
.anitext1m {
    opacity: 1;
    transition: all 2.5s ease-out;
    transform: scale(1);
}
.animation-web-text2m{
    opacity: 0;
    transition: all 2.5s ease-in-out;
    transform: scale(0.1);
}
.anitext2m {
    opacity: 1;
    transition: all 1s ease-in-out;
    transform: scale(1);
}
.animation-web-text3m{
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: scale(0.1);
}
.anitext3m {
    opacity: 1;
    transition: all 1s ease-in-out;
    transform: scale(1);
}
.animation-web-text4m{
    opacity: 0;
    transition: all 2s ease-in-out;
    transform: scale(0.1);
}
.anitext4m {
    opacity: 1;
    transition: all 2s ease-in-out;
    transform: scale(1);
}
.animation-web-text4-m{
    opacity: 0;
    transition: all 2s ease-in-out;
    transform: scale(0.1);
}
.anitext4-m {
    opacity: 1;
    transition: all 2s ease-in-out;
    transform: scale(1);
}
.animation-web-text5m{
    opacity: 0;
    transition: all 2.2s ease-in-out;
    transform: scale(0.1);
}
.anitext5m {
    opacity: 1;
    transition: all 2.2s ease-in-out;
    transform: scale(1);
}
.animation-web-text6sm{
    opacity: 0;
    transition: all 2.5s ease-in-out;
    transform: scale(0.1);
}
.anitext6sm {
    opacity: 1;
    transition: all 2.5s ease-in-out;
    transform: scale(1);
}
.animation-web-text6m{
    opacity: 0;
    transition: all 2.5s ease-in-out;
    transform: scale(0.1);
}
.anitext6m {
    opacity: 1;
    transition: all 2.5s ease-in-out;
    transform: scale(1);
}
.animation-web-text7m{
    opacity: 0;
    transition: all 2.5s ease-in-out;
    transform: scale(0.1);
}
.anitext7m {
    opacity: 1;
    transition: all 2.5s ease-in-out;
    transform: scale(1);
}