@media (max-width:1400px){
    .headerTopItem {
        margin-top: 4px;
        margin-left: 260px;
    }
    .headerTopItem ul li a{
        padding: 0px 8px;
        text-decoration: none;
        color: white;
        font-size: 10px;
    }
    .headrTitell{
        color: white;
        margin-top: 4px;
        font-size: small;
    }
}
@media (max-width:1200px){
    .headerTopItem {
        margin-top: 4px;
        margin-left: 100px;
    }
}
@media (max-width:980px){
    .bannerTittel{
        color: white;
        font-size: 25px; 
    }
    .bannerperagrph{
        margin-top: 24px;
        color: white;
        font-size: 17px;
    }
}
@media (max-width:752px){
    .imgBanner {
        margin-top: 20px;
    }
}
@media (max-width:600px){
    .text-area {
        margin-top: 10px;
        font-size: 15px;
    }
    .pStyel {
        color: white;
        font-size: 12px;
        text-align: left;
    }
    .pStyel1 {
        color: black;
        font-size: 13px;
    }
}
@media(max-width:1200px){
    .mid {
        text-decoration: none;
        color: white;
        font-size: 15px;
        border: 1px solid #fff;
        padding: 7px 8px;
        border-radius: 15px;
        background-color: #4d99e7;
        margin-top: -2px;
        display: inline-block;
        margin-left: -100px;
    }
   
}
@media(max-width:330px){
    .footer-distributed h3 {
        color: rgb(255, 255, 255);
        font: 30px Cookie, cursive;
        margin: 0px;
    }
}
@media(max-width:280px){
    .footer-distributed h3 {
        color: rgb(255, 255, 255);
        font: 25px Cookie, cursive;
        margin: 0px;
    }
    .footer-distributed .footer-center p a {
        color: #e0ac1c;
        text-decoration: none;
        font-size: 12px;
    }
    .mid {
        text-decoration: none;
        color: white;
        font-size: 15px;
        border: 1px solid #fff;
        padding: 7px 8px;
        border-radius: 15px;
        background-color: #4d99e7;
        margin-top: -2px;
        display: inline-block;
        margin-left: 0px;
        text-align: center;
    }
    .tittel_webmt h2 {
        
        color: white;
        text-align: center;
        font-size: 13px;
    }
}